supported-architectures=linux,win32
arch=x64
platform=linux
libc=glibc,musl
public-hoist-pattern[]=@tanstack/*
public-hoist-pattern[]=@lovable.dev/*
public-hoist-pattern[]=entities
shamefully-hoist=true
confirmModulesPurge=false
